<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/Background.css">
    <link rel="stylesheet" href="../static/styles/Register.css">

    <title>Document</title>
</head>
<body>
    <div class="block">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!--this is the big gray box every thing goes inside of on the 
    main page-->
    <div class="interface-wrapper">
        <!--the smaller box that contains the log in prompt-->
        <form autocomplete="off" action="/login" method="POST">
                   
            <p>
                <input class="index" type = "submit" value = "Go Back"></input>
            </p>

        </form>

        <form class="form-div" action = "/NewUser" method = "POST">
            <div class="login-wrapper">
                <div class="login-prompt">
                    <p><input class="user-input" autocomplete="off" type = "text" placeholder="First Name" name = "firstname"></p>
                    <p><input class="user-input" autocomplete="off" type = "text" placeholder="Last Name" name = "lastname"></p>
                    <p><input class="date-input" autocomplete="off" type = "date" name = "birthday"></p>
                </div>
            </div>


            
    
            <div class="login-wrapper">
                <div class="login-prompt">
                    <p><input required class="user-input" autocomplete="off" type = "email" placeholder="Email" name = "email" ></p>
                    <p><input required class="user-input" autocomplete="off" type = "text" placeholder="Username" name = "username"></p>
                    <p><input required class="user-input"  autocomplete="off" type = "password" placeholder="Password" name = "password"></p>
                    
                    <!-- Print the username is taken on front end if username is taken -->
                    {% if errormsg == "taken" %} <p> Username is already in use. Please try again </p> 
                    {% elif errormsg == "Invalid Username" %} <p> Invalid Username. Please try again without spaces</p>
                    {% elif errormsg == "datafull" %} <p> The Database is full. Sorry for the inconvenience </p>
                    {% elif errormsg == "bademail" %} <p> Email already in use. Please try again </p>
                    
                    
                    
                    {% endif %}
                    <br>
                    <input class="Register" type = "submit" value = "Register">
                    <!--
                        <input class="Reset" type = "reset" value = "Reset">
                    -->
                </div>
            </div>
        </form>

        


</body>
</html>



    <!--
    <form action = "/NewUser" method = "POST">
        <div class = "Title">
            <h1> Register </h1>
        </div>
        <a href = "{{ url_for('index') }}"> <h3> Go Back </h3> </a>
                <hr>
        <h2>
            <div>
                First Name: <input autocomplete="off" type = "text" name = "firstname">
            </div>
        </h2>
        <h2>
            <div>
                Last Name:  <input autocomplete="off" type = "text" name = "lastname">
            </div>
        </h2>


        <div class = "email">
            <h2>
                Email: <input autocomplete="off" type = "email" name = "email" required>

            </h2>
        </div>
        
        <div class = "birthday">
            <h2>
                Birthday: <input autocomplete="off" type = "date" name = "birthday">
            </h2>
        </div>





        <div class = "username">
            <h2>
                Username: <input autocomplete="off" type = "text" name = "username">

            </h2>
        </div>

        <div class = "password">
            <h2> 
                Password: <input autocomplete="off" type = "password" name = "password"> 
            </h2>
        </div>
        
        <input type = "submit" value = "Submit!">
        <input type = "reset" value = "Reset">


        
    </form>
        
    -->